<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p th:if="${sexe == 'homme'}" th:text="'Bonjour Mr'+' '+${recipientName}+','"></p>
    <p th:if="${sexe == 'femme'}" th:text="'Bonjour Mme'+' '+${recipientName}+','"></p>

    <div th:if="${password == null}">
      <p th:text="${message}"></p>
      <p th:text="${username}" style="font-weight: bold"></p>
    </div>

    <div th:if="${password != null}">
      <p th:text="${message}"></p>
      <p th:text="${password}" style="font-weight: bold"></p>
    </div>

    <p>Cordialement,</p>
    <p>
      <em th:text="${senderName}"></em> <br />


    </p>




  </body>
</html>